# Firebase
.firebase/
firebase-debug.log
.firebaserc

# System files
.DS_Store

# Deployment notes
README_DEPLOY.txt
firebaserc.txt

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
